<div class="main__container">
  <!-- Sección 1: Clases -->
  <div class="class__container" role="main">
    <h2 class="class__title" id="titulo" aria-label="Título de las clases">
      Clases Pop It!
    </h2>
    <p class="class__content" title="Descripción de las clases">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
      quasi, aperiam totam dolorum delectus non temporibus ut? Ex vero sunt qui
      error velit, odit officia nostrum amet quas fuga delectus.
    </p>
  </div>

  <!-- Sección 2: Proyectos -->
  <div class="projects__container">
    <h2 class="project__title" id="project" aria-label="Título de los proyectos">
      Proyectos Pop It!
    </h2>
    <div class="cards__container">
      <!-- Tarjeta 1 -->
      <div class="card card-1">
        <img
          class="card__image"
          src="../../assets/img/square.webp"
          alt="Imagen de la tarjeta"
        />
        <h2 class="card__title">Cuadrado Proyecto 1 Pop It!</h2>
        <button class="card__button filled-button" href="#">Aplica</button>
      </div>

      <!-- Tarjeta 2 -->
      <div class="card card-2">
        <img
          class="card__image"
          src="../../assets/img/amongus.webp"
          alt="Imagen de la tarjeta"
        />
        <h2 class="card__title">Among us Proyecto 2 Pop It!</h2>
        <button class="card__button filled-button" href="#">Aplica</button>
      </div>

      <!-- Tarjeta 3 -->
      <div class="card card-3">
        <img
          class="card__image"
          src="../../assets/img/round.webp"
          alt="Imagen de la tarjeta"
        />
        <h2 class="card__title">Círculo Proyecto 3 Pop It!</h2>
        <button class="card__button filled-button" href="#">Aplica</button>
      </div>
    </div>
  </div>

  <!-- Sección 3: Contacto -->
  <div class="contact__container">
    <div class="contact__background">
      <img
        class="contact__image"
        src="../../assets/img/bg-grid.webp"
        alt="Imagen de la tarjeta"
      />

      <div class="contact__text">
        <h2 class="contact__title" id="titulo" aria-label="Título del contacto">
          Contacto Pop It!
        </h2>
        <p class="contact__content" title="Descripción del contacto">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
          quasi, aperiam totam dolorum delectus non temporibus ut? Ex vero sunt
          qui error velit, odit officia nostrum amet quas fuga delectus.
        </p>
      </div>

      <img
        class="contact__photo"
        src="../../assets/img/photo.webp"
        alt="Imagen del contacto"
      />
    </div>
  </div>
</div>